---
import { getCollection } from "astro:content";
import HeadingSmart from "../HeadingSmart.astro";
import BottomPage from "./BottomPage.astro";
import { getEntry } from "astro:content";

const articles = await getCollection("blog", ({ data }) => {
  return !!data.thumbnail;
});

const doc = await Promise.all(
  articles.map(async (article) => {
    const taxonomies = article.data.taxonomies 
      ? await Promise.all(article.data.taxonomies.map(taxonomy => 
          getEntry(taxonomy.collection, taxonomy.id)
        ))
      : [];
    const author = await getEntry(article.data.author.collection, article.data.author.id);
    return {
      article,
      taxonomies,
      author
    };
  })
);


---

<div class="bg-color container">
  <HeadingSmart
    title="NOS DERNIERS ARTICLES,"
    description="SUIVEZ NOTRE ACTUALITÉ AU CŒUR DE L’ARCHITECTURE ET DU BÂTIMENT"
  />
  <BottomPage
    labelForLink='voir tous nos articles'
    href="/blog"
    topic="Blog"
    classement="4.0"
    description="nous vous partageons ici l’envers du décor, les tendances qui nous animent et notre approche sur la manière de bâtir intelligemment."
  >
    <div class="articles">
      {
        doc.map(({article, author, taxonomies}) => (
            <a href={`/blog/${article.id}`}>
          <article>
            <span class="tags">
              {taxonomies?.map(taxonomy  => (
              <span class="tag"> {taxonomy?.data.name} </span>
            ))}
            </span>
              <div class="thumbnail">
              <img src={article.data.thumbnail} alt="" />
            </div>
            <div> {article.data.title} </div>
            <span> {author?.data.name} </span>
           
          </article>
            </a>
        ))
      }
    </div>
  </BottomPage>
</div>

<style>
  

  .bg-color {
    color: black !important
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--durand-orange);
    color: var(--accents-8);
    padding-bottom: var(--space-6);
  }

  .articles {
    font-size: var(--size-small-text);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 0.5rem;

    article {
      display: grid;
      grid-template-columns: 1fr;
      background-color: #ffffff0f;
      gap: 1rem;
      padding: 1rem;
    }

    article .thumbnail {
      width: 100%;
      height: 100%;

      img {
        display: block;
        max-height: 300px;
      }
    }

    article .tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    align-items: flex-end;
    gap: 0.5rem;

    .tag {
      position: relative;
      display: flex;
      gap: 0.3rem;
      position: relative;
      font-size: 0.7rem;
      background-color: #ffa50075;
      border-radius: 0.4rem;
      display: flex;
      align-items: center;
      padding: 5px 3px;
      width: max-content;
      
      

      &::before {
        content: '';
        float: 0;
        display: block;
        width: 7px;
        border-radius: 7px;
        aspect-ratio: 1  / 1;
        background: #fff;
      }
    }
  }
}
</style>
