---
export const prerender = true;
import "../css/app.css";
import { Header } from "../components/ui/Header.tsx";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";

const {
  title,
  description,
  image,
  url = Astro.url.href,
  typeContent,
} = Astro.props;

console.log(image);
---

<!doctype html>
<html lang="en">
  <head>
    <Seo
      title={title}
      description={description}
      typeContent={typeContent}
      image={image}
      url={url}
    />
  </head>
  <body>
    <div class="page-wrapper">
      <Header client:load />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
